@model List<NHS.Common.CommentType>
@{
    ViewBag.Title = "Add New Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control:disabled, .form-control[readonly] {
        background-color: #fdfdfd;
        opacity: 1;
    }
</style>
<br />
<br />

<div align="left" style="width:90%">
    <h4>Comment Type</h4>
</div>
<span style="color:green">@TempData["AlertMessage"]</span>
<div class="col-sm-12">
<div align="right" style="width:90%">
    <a href='@Url.Action("AddCommentType", "Home")'>Add New Comment Type</a>
</div>
    <br />
<div class="row">
        <div style="width:90%;">
            <table class="stripe row-border order-column" style="overflow:auto;width:100% !important" id="tblCommentType">
                <thead>
                    <tr bgcolor="#a9d7cc" style="color:black;  font-size:12px;">
                        <th align="left" width="50%">Comment Type</th>
                        <th align="left" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody style="font-size:12px;padding:0px;">
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="Entries">
                                <td align="left" width="50%">&nbsp;&nbsp;@item.Type</td>
                                <td width="10%" align="left">&nbsp;&nbsp;<a href="@Url.Action("EditCommentType", "Home", new { id = item.CommonTypeID })"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("DeleteCommentType", "Home", new { id = item.CommonTypeID })"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="14" class="text-center" align="center">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    $('#tblCommentType').DataTable(
        {
            "ordering": true,
            "paging": true,
            "searching": true,
            "pageLength": 10,
            "order": [[0, "desc"]],
            "aoColumns": [
                { "sName": "Type", "sTitle": "Comment Type", "bSortable": "true" },
                { "sName": "Action", "sTitle": "Action", "bSortable": "false" }
            ],
            "lengthMenu": [
                [10, 20, 50, 100, -1],
                ['10 rows', '20 rows', '50 rows', '100 rows', 'Show all']],
            "scrollX": true,
        });
});
</script>

























    </div>
