@model List<NHS.Common.DQIssueSummary>
@{
    ViewBag.Title = "DQ Issue Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control:disabled, .form-control[readonly] {
        background-color: #fdfdfd;
        opacity: 1;
    }
</style>
<br />
<br />
<div align="left" style="width:90%">
    <h4>DQ Issue Summary</h4><br />
</div>
<span style="color:green">@TempData["AlertMessage"]</span>
<div class="col-sm-12">
    <div class="row">
        <div style="width:90%;">
            <table class="stripe row-border order-column" style="overflow:auto;width:100% !important" id="tblWards">
                <thead>
                    <tr bgcolor="#a9d7cc" style="color:black;  font-size:12px;">
                        <th align="left" width="15%">Patient ID</th>
                        <th align="left" width="20%">Patient Name</th>
                        <th align="left" width="15%">Date Of Death</th>
                        <th align="left" width="15%">Issued Date</th>
                        <th align="left" width="15%">Issued By</th>
                        <th align="left" width="15%">Comments</th>
                    </tr>
                </thead>
                <tbody style="font-size:12px;padding:0px;">
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="Entries">
                                <td align="left" width="15%">&nbsp;&nbsp;@item.PatientID</td>
                                <td align="left" width="20%">&nbsp;&nbsp;@item.PatientName</td>
                                <td align="left" width="15%">&nbsp;&nbsp;@item.DateOfDeath</td>
                                <td align="left" width="15%">&nbsp;&nbsp;@item.IssueDate</td>
                                <td align="left" width="15%">&nbsp;&nbsp;@item.IssuedBy</td>
                                <td align="left" width="15%">&nbsp;&nbsp;@item.Comments</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="14" class="text-center" align="center">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('#tblWards').DataTable(
                {
                    "ordering": true,
                    "paging": true,
                    "searching": true,
                    "pageLength": 10,
                    "order": [[3, "desc"]],
                    "aoColumns": [
                        { "sName": "PatientID", "sTitle": "Patient ID", "bSortable": "true" },
                        { "sName": "PatientName", "sTitle": "Patient Name", "bSortable": "true" },
                        { "sName": "DateOfDeath", "sTitle": "Date of Death", "bSortable": "true" },
                        { "sName": "IssueDate", "sTitle": "Issued Date", "bSortable": "true" },
                        { "sName": "IssuedBy", "sTitle": "Issued By", "bSortable": "true" },
                        { "sName": "Comments", "sTitle": "Comments", "bSortable": "true" }
                    ],
                    "lengthMenu": [
                        [10, 20, 50, 100, -1],
                        ['10 rows', '20 rows', '50 rows', '100 rows', 'Show all']],
                    "scrollX": true,
                });
        });
</script>


