
@{
    ViewBag.Title = "FeedbackReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FeedbackReport</h2>

<div class="ds_member_sec">
    <h2>Patient Details</h2>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" class="ds_pat_img"><img src="men.png" width="100" height="126" alt="" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="37%" style="padding:5px">Patient ID </td>
                                                <td width="63%" style="padding:5px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px">Gender </td>
                                                <td style="padding:5px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px">Date of Death </td>
                                                <td style="padding:5px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px">Time of Death </td>
                                                <td style="padding:5px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px">Consultant (on discharge) </td>
                                                <td style="padding:5px">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" align="left" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="45%" style="padding:5px">Patient ID </td>
                                    <td width="55%" style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Patient Name</td>
                                    <td style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Word (on discharge) </td>
                                    <td style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Admission Method</td>
                                    <td style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Date of Admission</td>
                                    <td style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Time of Admission</td>
                                    <td style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Occupation</td>
                                    <td style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Date Quality issues ?</td>
                                    <td style="padding:5px">on</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Urgent Me Review Required?</td>
                                    <td style="padding:5px">on</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:5px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding:5px" class="ds_pt_details1"><strong>Relative Name </strong></td>
                        <td style="padding:5px" class="ds_pt_details1"><strong>Relationship </strong></td>
                        <td style="padding:5px" class="ds_pt_details1"><strong>Relative Tel No. </strong></td>
                        <td style="padding:5px" class="ds_pt_details1"><strong>Present At Death</strong></td>
                        <td style="padding:5px" class="ds_pt_details2"><strong>Is Informed</strong></td>
                    </tr>
                    <tr>
                        <td style="padding:5px" class="ds_pt_details3">&nbsp;</td>
                        <td style="padding:5px" class="ds_pt_details4">&nbsp;</td>
                        <td style="padding:5px" class="ds_pt_details4">&nbsp;</td>
                        <td style="padding:5px" class="ds_pt_details4">No</td>
                        <td style="padding:5px" class="ds_pt_details4">No</td>
                    </tr>
                    <tr>
                        <td style="padding:5px" class="ds_pt_details3">&nbsp;</td>
                        <td style="padding:5px" class="ds_pt_details4">&nbsp;</td>
                        <td style="padding:5px" class="ds_pt_details4">&nbsp;</td>
                        <td style="padding:5px" class="ds_pt_details4">No</td>
                        <td style="padding:5px" class="ds_pt_details4">No</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding:5px">GP Surgery</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:5px">
                <textarea name="textarea2" id="textarea2" cols="" rows="" class="form-control" value="9999999" readonly="readonly" style="height:100px"></textarea>
            </td>
        </tr>
        <tr>
            <td style="padding:5px"><strong>Positive Feedback</strong></td>
        </tr>
        <tr>
            <td style="padding:5px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="45%" style="padding:5px">Above &amp; beyond form completed</td>
                                    <td width="55%" style="padding:5px">No</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Compliments fedback to Clinical</td>
                                    <td style="padding:5px">No</td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" align="left" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="45%" style="padding:5px">Avilable Feedbacks</td>
                                    <td width="55%" style="padding:5px">0</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Other</td>
                                    <td style="padding:5px">0</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">General</td>
                                    <td style="padding:5px">0</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Ward</td>
                                    <td style="padding:5px">0</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Palliative care team</td>
                                    <td style="padding:5px">0</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Bereavement Team</td>
                                    <td style="padding:5px">0</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Medical Examiner</td>
                                    <td style="padding:5px">0</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">PALS</td>
                                    <td style="padding:5px">0</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</div>