
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body style="background-color: #ddd;">
    <h1 style="text-align: center;">&nbsp;</h1>
    <h1 style="text-align: center;"><strong>Sorry. You are not authorized.</strong></h1>
    <h1 style="text-align: center;"><strong>Please contact your administrator.</strong></h1>
</body>
</html>
